.report-page{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.report-page form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 30vw;
}

label, select, input{
    margin: 3px;
}

